
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

/* ---------------------------------Navbar header-------------------------------------------- */

.header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    height: 90px;
    background-color: #6F6AF7; 
}

.logo{
    width: 160px;
    height: 40px;
    margin-top: 25px;
    margin-left: 44px;
    cursor: pointer;
}

li{
    font-size: 25px;
    color: white;
    float: left;
    list-style: none;
    margin-left: 46px;
    font-family: "DM Sans", sans-serif;
    text-align: center;
}

li:hover{
    cursor: pointer;
}

ul{
    text-decoration: none;
    text-align: center;
}

.search{
width: 220px;
height: 40px;;  
border-radius: 63px;
border: none;
}

.hamburger{
   position: relative;
   right: 40px;
   margin-top: 25px;
   cursor: pointer;
}

.menus{
    margin: auto;
}

input{
    font-family: "DM Sans", sans-serif;
}

::placeholder {
    font-size: 20px;
    color: #9F9F9F;
    padding-left: 20px;
    padding-top: 19px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
}

.searchicon{
    position: relative;
    right: 40px;
    top: 8px;
    width: 25px;
    height: 25px;
}

.searchicon:hover{
    cursor: pointer;
}

/* ---------------------------------Section One-------------------------------------------- */

.section-one{
    display: flex;
    margin-top: 162px;
    justify-content: center;
    padding-left: 122px;
    padding-right: 122px;
}

.mainimg{
    width: 400px;
    height: 507px;
    margin-right: 45px;
    box-shadow: 4px 7px 32px 0px rgba(0, 0, 0, 0.44);
    border-radius: 20px;
}

textarea{
    width: 750px;
    height: 502px;
    border-radius: 20px;
    background-color: #E5D8FF;
    box-shadow: 3px 5px 27px 0px rgba(0, 0, 0, 0.25) inset;
    border: none;
}

.socialicons{
    position: relative;
    bottom: 170px;
    position: sticky;
    top: 90px;
    right: 0;
    float: right;
    
}

.fimg{
    width: 68px;
    height: 65px;
    cursor: pointer;
}

/* ---------------------------------Section two-------------------------------------------- */

.section-two{
    display: flex;
    margin-top: 137px;
    justify-content: center;
}

.box1{
    background-color: #929DFF;
    color: white;
    font-size: 22px;
    font-weight: 700;
    width: 230px;
    height: 100px;
    border-radius: 11px;
    padding: 20px;
    Line-height : 51.82px;
    margin-right: 29.5px;
    margin-left: 50px;
    box-shadow: 0px 9px 31px 0px #00000066;
}

.box2{
    background-color: #734CF2;
    color: white;
    font-size: 22px;
    font-weight: 700;
    width: 230px;
    height: 100px;
    border-radius: 11px;
    padding: 20px;
    Line-height : 51.82px;
    margin-right: 29.5px;
    box-shadow: 0px 9px 31px 0px #00000066;
}

.box3{
    background-color: #D288FF;
    color: white;
    font-size: 22px;
    font-weight: 700;
    width: 230px;
    height: 100px;
    border-radius: 11px;
    padding: 20px;
    Line-height : 51.82px;
    margin-right: 29.5px;
    box-shadow: 0px 9px 31px 0px #00000066;
}

.box4{
    background-color: #000000;
    color: white;
    font-size: 22px;
    font-weight: 700;
    width: 230px;
    height: 100px;
    border-radius: 11px;
    padding: 20px;
    Line-height : 51.82px;
    margin-right: 50px;
    box-shadow: 0px 9px 31px 0px #00000066;
}

/* ---------------------------------Section three-------------------------------------------- */

.section-three{
    display: flex;
    justify-content: center;
    background-color: #483EFF;
    margin-top: 188px;
    margin-left: 55px;
    margin-right: 55px;
    border-radius: 21px;
    height: 650px;
    margin-bottom: 40px;
}

.button1{
    background-color: #BCE0F6;
    width: 300px;
    height: 75px;
    border-radius: 22px;
    border: 5px solid #BCE0F6;
    text-align: center;
    font-size: 25px;
    position: static;
    margin-top: 73px;
    margin-left: 52px;
    padding-top:30px;
    font-weight: 700;
    margin-bottom: 82px;
    box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.39);
    letter-spacing: 1px;
    cursor: pointer;
}

.button2{
    background-color: #483EFF;
    color: white;
    width: 300px;
    height: 75px;
    border-radius: 22px;
    border: 5px solid white;
    text-align: center;
    font-size: 25px;
    position: static;
    margin-top: 73px;
    margin-left: 52px;
    padding-top:30px;
    font-weight: 700;
    margin-bottom: 82px;
    letter-spacing: 1px;
    cursor: pointer;
}

.button3{
    background-color: #483EFF;
    color: white;
    width: 300px;
    height: 75px;
    border-radius: 22px;
    border: 5px solid white;
    text-align: center;
    font-size: 25px;
    position: static;
    margin-top: 73px;
    margin-left: 52px;
    padding-top:30px;
    font-weight: 700;
    margin-bottom: 82px;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn1content{
    background-color:white;
    width: 700px;
    height: 520px;
    position: static;
    margin-top: 31px;
    margin-left: 63px;
    padding-top: 72px;
    padding-left: 54px;
    border-radius: 19px; 
}

.txt1{
    color: #04285A;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    letter-spacing: 4px;
    font-size: 35px;
    margin-bottom: 37px;
}

.txt2{
    color: #04285A;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    letter-spacing: 4px;
    font-size: 25px;
    margin-left: 25px;
    margin-bottom: 29px;
}

span{
    font-size: 21px;
}

.nextbtn{
width: 190px;
height: 70px;
border-radius: 9px;
background-color: #000000;
color: white;
font-size: 27px;
letter-spacing: 3px;
position: relative;
left: 463px;
top:80px;
cursor: pointer;
}

/* ---------------------------------Chat icon-------------------------------------------- */
.chatimg{
    height: 120px;
    width: 120px;
    position: fixed;
    top: 84%;
    right: 70px;
    cursor: pointer;
}
